{% extends 'base/base.html.twig' %}

{% block body %}
{% include 'base/_header.html.twig' %}

<section id="blog-details">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="blog-content blog-archive">
                    <div class="blog-area">
                        <div class="row center">
                            <!-- Start single blog post -->
                            <div class="col s12 m4 l4">
                                <h1>Inscription sur le site</h1>
                            </div>
                            <div class="col s12 m8 l6">
                                <div class="blog-post">
                                    <div class="card">
                                        {% include 'security/_formregistration.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}